#account {
    margin-left: 35%;
}

#title {
    font-size: 30px;
    font-weight: bold;
    margin-left: 40%;
}

#data {
    clear: right;
}

#left {
    width: 30%;
    margin-left: 2%;
}

#center {
    width: 25%;
}

#right {
    width: 41%;
}

#countryTree, #playerRoleTree {
    border: none;
}

#value {
    margin-left: 2%;
}

#view-details-container {
    margin: 15% 10%;
}

#saveButton, #newSaveButton {
    float: right;
}

#buttons {
    margin-top: 15%;
}