<div class="row">
    <span id="title">Sports Portal</span>
    <span id="account">{{currentUser.username}} | <a [routerLink]="['/login']">Logout</a></span>
</div>
<div id="data" class="row">
    <div id="left">
        <jqxLayout [theme]="'material'" [height]='610' [layout]='leftLayout'>
            <div data-container="CountryPanel">
                <div id="countryTree"></div>
                <div id="countryMenu">
                    <ul>
                        <li><a href="#">Delete Player</a></li>
                    </ul>
                </div>
            </div>
            <div data-container="PlayerRolePanel">
                <div id="playerRoleTree"></div>
                <div id="playerRoleMenu">
                    <ul>
                        <li><a href="#">Delete Player</a></li>
                    </ul>
                </div>
            </div>
        </jqxLayout>
    </div>

    <div id="center">
        <jqxDockingLayout [theme]="'material'" [height]='610' [layout]='centerLayout'>
            <div data-container="PlayerImagePanel">
            <img [src]="selectedPlayer?.image" height="400">
            <br/>
            </div>
        </jqxDockingLayout>
   </div>

   <div *ngIf="isAdminUser && !isAddUserClicked" id="right">
       <div #jqxRightLayout id="jqxRightLayout">
            <div data-container="PlayerDetailsPanel">
               <div id="view-details-container">
                   <form>
                       <div>
                            <label for="playerName">Name: </label>
                            <input class="form-control" [(ngModel)]="playerNameValue" name="playerNameValue" type="text"/>
                        </div>

                        <div>
                            <label for="playerCountry">Country: </label>
                            <select class="form-control" [(ngModel)]="playerCountryValue" name="playerCountryValue">
                                <option value="" selected>Select Country</option>
                                <option value="India">India</option>
                                <option value="Pakistan">Pakistan</option>
                                <option value="Sri Lanka">Sri Lanka</option>
                                <option value="South Africa">South Africa</option>
                                <option value="Australia">Australia</option>
                                <option value="New Zealand">New Zealand</option>
                            </select>
                        </div>

                        <div>
                            <label for="playerRole">Player Role: </label>
                            <select class="form-control" [(ngModel)]="playerRoleValue" name="playerRoleValue">
                                <option value="">Select Player Role</option>
                                <option value="Batsman">Batsman</option>
                                <option value="Bowler">Bowler</option>
                                <option value="All Rounder">All Rounder</option>
                                <option value="Wicket Keeper">Wicket Keeper</option>
                            </select>
                        </div>

                        <div id="buttons">
                            <span id="addNewButton">Add New Player</span>
                            <span id="saveButton">Save</span>
                        </div>
                
                
                
                </form>
                </div>
            </div>
       </div>
   </div>

   <div *ngIf="!isAdminUser && !isAddUserClicked" id="right">
       <div #jqxRightLayout id="jqxRightLayout">
         <div *ngIf="!isAdminUser" data-container="PlayerDetailsPanel">
               <div id="view-details-container">
                    <div class="row">
                        <span><b>Name: </b></span>
                        <span> {{selectedPlayer?.name}} </span>
                    </div>
                    <br />

                    <div class="row">
                        <span><b>Country: </b></span>
                        <span> {{selectedPlayer?.country}} </span>
                    </div>
                    <br />

                    <div class="row">
                        <span><b>Player Role: </b></span>
                        <span> {{selectedPlayer?.playerRole}} </span>
                    </div>
                    <br />
                </div>
            </div>
       </div>
    </div>

    <div *ngIf="isAdminUser && isAddUserClicked" id="right">
       <div #jqxRightLayout id="jqxRightLayout">
           <div data-container="PlayerDetailsPanel">
               <div id="view-details-container">
               Add New Player
                    <div>
                        <label for="playerName">Name: </label>
                        <input class="form-control" [(ngModel)]="playerNameValueAdd" type="text"/>
                    </div>

                    <div>
                        <label for="playerCountry">Country: </label>
                            <select class="form-control" [(ngModel)]="playerCountryValueAdd" >
                                <option value="" selected>Select Country</option>
                                <option value="India">India</option>
                                <option value="Pakistan">Pakistan</option>
                                <option value="Sri Lanka">Sri Lanka</option>
                                <option value="South Africa">South Africa</option>
                                <option value="Australia">Australia</option>
                                <option value="New Zealand">New Zealand</option>
                            </select>
                    </div>

                    <div>
                        <label for="playerRole">Player Role: </label>
                            <select class="form-control" [(ngModel)]="playerRoleValueAdd">
                                <option value="">Select Player Role</option>
                                <option value="Batsman">Batsman</option>
                                <option value="Bowler">Bowler</option>
                                <option value="All Rounder">All Rounder</option>
                                <option value="Wicket Keeper">Wicket Keeper</option>
                            </select>
                    </div>

                    <div>
                        <label for="playerImage">Player Image: </label>
                        <img [src]="url" height="200">
                        <br/>
                        <input #inputImage type='file'>
                    </div>

                    <div id="buttons">
                        <div id="saveButton">Save</div>
                    </div>

                </div>
           </div>
       </div>

    </div>
</div>

