<div class="row">
    <span id="title">Sports Portal</span>
    <span id="account">{{currentUser.username}} | <a [routerLink]="['/login']">Logout</a></span>
</div>
<div id="data" class="row">
    <div id="left">
        <jqxLayout [theme]="'material'" [height]='610' [layout]='leftLayout'>
            <div data-container="CountryPanel">
                <div id="countryTree"></div>
                <div id="countryMenu">
                    <ul>
                        <li><a href="#">Delete Player</a></li>
                    </ul>
                </div>
            </div>
            <div data-container="PlayerRolePanel">
                <div id="playerRoleTree"></div>
                <div id="playerRoleMenu">
                    <ul>
                        <li><a href="#">Delete Player</a></li>
                    </ul>
                </div>
            </div>
        </jqxLayout>
    </div>

    <div id="center">
        <jqxDockingLayout [theme]="'material'" [height]='610' [layout]='centerLayout'>
            <div data-container="PlayerImagePanel">
            Show Player Image
            </div>
        </jqxDockingLayout>
   </div>

   <div id="right">
       <jqxLayout [theme]="'material'" [height]='610' [layout]='rightLayout'>
            <div data-container="PlayerDetailsPanel">
            <div *ngIf="currentUser.username === Admin">
               <app-edit-player [player]="selectedPlayer"></app-edit-player>
            </div>
            <div>
               <app-view-player [player]="selectedPlayer"></app-view-player>
            </div>
            </div>
       </jqxLayout>
   </div>
<div>

